In [1]:
import os
import pandas as pd

In [7]:
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)

In [13]:
data_1_10 = pd.read_csv(f"{parent_dir}\\outputs\\sinta_affiliations_pages_1_10.csv")

In [14]:
data_1_10

,id,code,affiliate_name,abbreviation,location,num_department,num_authors,SINTA_score_3yr,SINTA_score_overall
0,384,1001,Universitas Gadjah Mada,UGM,"KAB. SLEMAN - DAERAH ISTIMEWA YOGYAKARTA, ID",291,3,1.230.039,4.280.397
1,380,1004,Universitas Airlangga,UNAIR,"KOTA SURABAYA - JAWA TIMUR, ID",199,2,1.179.067,2.635.269
2,428,2003,Institut Pertanian Bogor,IPB,"KAB. BOGOR - JAWA BARAT, ID",184,1,1.135.499,3.079.899
3,430,1002,Universitas Indonesia,UI,"KOTA ADM. JAKARTA PUSAT - DKI JAKARTA, ID",267,3,1.105.741,3.134.058
4,404,1019,Universitas Brawijaya,UB,"KOTA MALANG - JAWA TIMUR, ID",193,2,770.270,1.875.975
...,...,...,...,...,...,...,...,...,...
95,413,5023,Politeknik Negeri Malang,POLINEMA,"KOTA MALANG - JAWA TIMUR, ID",50,714,122.316,287.842
96,525,1061,Universitas Pembangunan Nasional Veteran Jakarta,UPNVJ,"KOTA ADM. JAKARTA SELATAN - DKI JAKARTA, ID",40,703,119.574,235.171
97,448,11027,Universitas Muslim Nusantara Al-Washliyah,UMN AL-WASHLIYAH,"KOTA MEDAN - SUMATERA UTARA, ID",23,209,114.837,214.257
98,2106,71079,Universitas Nahdlatul Ulama Surabaya,UNUSA,"KOTA SURABAYA - JAWA TIMUR, ID",21,255,113.163,233.065
99,2530,91004,Universitas Muhammadiyah Makassar,UNISMUH MAKASSAR,"KOTA MAKASSAR - SULAWESI SELATAN, ID",58,772,113.013,218.398